*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

nav{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    width: 35%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container {
    background-color: white;
    padding: 30px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

input {
    padding: 8px;
    width: 80%;
    margin: 10px 0;
}

#resultado {
    margin-top: 15px;
    font-weight: bold;
}

button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 12px 18px;
    width: 95%;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.3s;
}

#bonus-btn {
    background-color: #ff0000;
}

#frete-btn {
    background-color: #ffa500;
}

#desconto-btn {
    background-color: #ffff00;
}

#taxa-btn {
    background-color: #00CEC8;
}

#multa-btn {
    background-color: #1e40af;
}

#cashback-btn {
    background-color: #800080;
}